.article {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	color: var(--oakcolor);
	padding: 1em;
}
.paragraf {
	margin-top: 0.5em;
	font-size: 1.2rem;
}
.li {
	list-style: circle;
	margin-left: 2em;
	line-height: 1.4;
	font-style: italic;
}
.div {
	max-width: 500px;
}
.a {
	color: var(--janskunpunainen);
}
