@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Permanent+Marker&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	--serpent: rgb(174, 178, 165);
	--janskunpunainen: #ff0c00;
	--janskunvaaleanpunainen: #fcddec;
	--transition: 0.3s all;
	--oakcolor: #55342b;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}

li {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;

	font-family: 'Roboto', sans-serif;
}

section {
	position: relative;
	min-height: 60vh;
}
.watermark {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20%;
	min-width: 300px;
	opacity: 0.3;
	z-index: -5;
}

.tuotteet {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.kauppa {
	font-family: 'Permanent Marker', cursive;
}
.generalbtn {
	margin: 10px;
	padding: 10px 20px;
	font-size: 1.3rem;
	font-weight: 700;
	background-color: var(--janskunpunainen);
	color: var(--janskunvaaleanpunainen);
	border: none;
	border-radius: 2px;
	cursor: pointer;
}
