.container {
	background-color: aliceblue;
	margin-bottom: 0.5rem;
}
.form {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.input {
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
