@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px *8));
	}
}

.slider {
	height: 100px;
	width: 800px;
	margin: auto;
	overflow: hidden;
	width: auto;
	border-top: 2px solid var(--janskunpunainen);
	border-bottom: 2px solid var(--janskunpunainen);
	margin-bottom: 1em;
}
.slider .slidertrack {
	animation: scroll 40s linear infinite;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(250px * 16);
	background-color: white;
}
.slider .slide {
	height: 100px;
	width: 250px;
	margin-top: 12px;
}
