.brand {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.3em 0.5em;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--janskunpunainen);
	font-family: 'Euphoria Script', cursive;
	font-size: 1.5rem;
}
.btn {
	color: var(--janskunpunainen);
	background-color: rgba(0, 0, 0, 0);
	padding: 7px;
	font-size: 1.5rem;
	border: 2px solid var(--janskunpunainen);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 999;
	border-radius: 5px;
	position: relative;
	cursor: pointer;
}
.btnactive {
	transform: scale(1.1);
}

.navbarlist {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.esille {
	transition: 1s all;
	height: 15em;
}
.piilossa {
	height: 0;
	z-index: -10;
	opacity: 0;
}
.links {
	transition: 1s all;
}
.li {
	width: 100%;
	text-align: center;
	background-color: var(--janskunvaaleanpunainen);
	margin: 1px 0;
	padding: 5px 0;
	cursor: pointer;
}
.a {
	color: var(--janskunpunainen);
}
.btnwrapper {
	display: flex;
	flex-direction: row;
}
.btn:first-child {
	margin-right: 20px;
}
.span {
	position: absolute;
	background-color: white;
	padding: 4px;
	font-size: 1rem;
	right: -10px;
	top: -5px;
	border-radius: 50%;
}
@media only screen and (min-width: 1200px) {
	.logo {
		min-width: 30vw;
	}
	.esillä {
		height: 5vh;
	}
	.piilossa {
		height: 5vh;
		opacity: 1;
		z-index: 10;
	}
	.btn:last-child {
		display: none;
	}
	.navbar {
		display: flex;
		justify-content: space-between;
	}
	.links {
		width: 80%;
	}
	.navbarlist {
		width: 100%;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.li {
		background: none;
	}
}
