.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid black;

	width: 100vw;
	height: 50px;
}
.brand {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--janskunpunainen);
	font-family: 'Euphoria Script', cursive;
	font-size: 1.5rem;
	padding: 4px 0 4px 10px;
}

.navbarlist {
	display: flex;
}

.navlink {
	margin-right: 10px;
	color: var(--janskunpunainen);
	background-color: rgba(252, 221, 236, 0.2);

	padding: 3px 10px;
	border-radius: 10px;
	transition: var(--transition);
}
.navlink:hover {
	background-color: rgba(252, 221, 236, 0.8);
}
.btn {
	display: none;
	position: absolute;
	right: 10px;
	top: 7px;
	padding: 7px;
	background-color: var(--janskunvaaleanpunainen);
	border-radius: 5px;
	border: 2px solid var(--janskunpunainen);
}
.icon {
	color: var(--janskunpunainen);
	font-size: 18px;
}

@media screen and (max-width: 1200px) {
	.navbar {
	}
	.navbarlist {
		flex-direction: column;
		height: auto;
		background-color: var(--janskunvaaleanpunainen);
		opacity: 1;
		margin-top: 370px;

		width: 250px;
		max-width: 50%;
		text-align: center;
		z-index: 2;
	}

	.link {
		text-align: center;
	}
	.navlink {
		display: inline-block;
		padding: 10px 0;
		border-top: 1px solid black;
		border-radius: 0;
		width: 100%;
	}
	.navlink:hover {
		background-color: orange;
	}
	.btn {
		display: block;
	}
}
