.container {
	background-image: url('/images/muut/maalaus.jpg');
	background-size: cover;
	height: 50vh;
	margin-top: 2em;
}

.kartta {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.iframe {
	width: 60vw;
	height: 40vh;
	min-width: 300px;
	min-height: 300px;
}
