.article {
	background-color: var(--janskunvaaleanpunainen);
	width: 300px;
	height: 100px;
	margin: 0.5em 1em;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--janskunpunainen);
	font-size: 1.7rem;
	border: 2px solid var(--janskunpunainen);
	animation-name: animaatio;
	animation-duration: 1.5s;
	text-transform: capitalize;
	transition: var(--transition);
	cursor: pointer;
	transition: var(--transition);
}
.article:hover {
	transform: translateX(-10px);
}
@keyframes animaatio {
	0% {
		transform: translateY(700px);
	}
	100% {
		transform: translateY(0px);
	}
}
@media only screen and (min-width: 730px) {
	.article {
		height: 20vh;
	}
	.article:hover {
		transform: translateY(-10px);
	}
}

@media only screen and (min-width: 1100px) {
	.article {
		width: 30vw;
		height: 25vh;
	}
}
