.sidebar {
	min-width: 400px;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 1em;
	background: rgb(255, 226, 89);
	background: radial-gradient(circle, rgba(255, 226, 89, 1) 7%, rgba(255, 167, 81, 1) 32%, rgba(255, 226, 89, 1) 90%);
	z-index: 2;
	height: 100%;
	border: 1px solid var(--janskunpunainen);
}
.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--janskunpunainen);
	font-size: 1.3rem;
}
.main {
	margin-top: 1em;
	width: 100%;
}

.sidebarbtn {
	font-size: 1.2rem;
	border: none;
	margin: 2px 0;
	background-color: orange;
	width: 100%;
	padding: 5px 0;
	color: var(--janskunpunainen);
	cursor: pointer;
}
.closebtn {
	display: inline-block;
	font-size: 1.4rem;
	background-color: var(--janskunpunainen);
	color: white;
}
@media only screen and (min-width: 1200px) {
	.sidebar {
		flex-direction: row;
		min-width: 100vw;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.header {
		display: none;
	}
	.main {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
	}
	.sidebarbtn {
		width: auto;
		background: transparent;
		margin: 0 4px;
	}
}
