.card {
	height: 420px;
	width: 300px;
	border-radius: 19px;
	border-radius: 19px;
	background: #f2f2f2;
	box-shadow: inset 5px 5px 15px #999999, inset -8px -8px 20px #ffffff;
	display: inline-block;
	padding: 1.5em;
	border-radius: 10px;
	z-index: 1;
	position: relative;
	backdrop-filter: blur(10px);
	border: solid 2px transparent;
	background-clip: padding-box;

	margin: 2em;
	color: black;
}
.title {
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 0.8rem;
}
.luokka {
	margin: 4px 0;
}
.selostus {
	margin-bottom: 4px;
}
