.tuotteetsivu {
	transition: 1s all;
	position: relative;
	height: 100%;
}
.sidebar {
	transition: 1s all;

	z-index: 3;
	min-width: 400px;
	width: 50%;
	height: 100%;
}
.tuotteet {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.kiinni {
	transform: translateX(-101%);
}
.auki {
	transform: translateX(0%);
}
.btncontainer {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
	display: flex;
	justify-content: center;
}
.btn {
	text-align: center;
	width: 400px;
	padding: 5px;
	font-size: 1.4rem;
	background-color: var(--janskunvaaleanpunainen);
	color: var(--janskunpunainen);
	border-radius: 4px;
	border: 1px solid var(--janskunpunainen);
	transition: var(--transition);
}
.btn:hover {
	transform: scale(1.1);
}

@media only screen and (min-width: 1200px) {
	.btncontainer {
		display: none;
	}
	.sidebar {
		position: relative;
		height: auto;
	}
	.kiinni {
		transform: translateX(0%);
	}
}
