.container {
	position: relative;
}

.tuotteetsivu {
	transition: 1s all;
	position: relative;
	height: 100%;
}
.sidebar {
	transition: 1s all;
	position: fixed;
	z-index: 23;
	min-width: 400px;
	width: 50%;
	height: 100%;
	top: 100px;
}
.tuotteet {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.kiinni {
	transform: translateX(-101%);
}
.auki {
	transform: translateX(0%);
}
.btncontainer {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
	display: flex;
	justify-content: center;
	position: sticky;
	z-index: 20;
	top: 10px;
}

.btn {
	text-align: center;
	width: 400px;
	padding: 5px;
	font-size: 1.4rem;
	background-color: white;
	color: var(--janskunpunainen);
	border: 3px solid var(--janskunpunainen);
	border-radius: 2px;
	background: #ffffff;

	transition: var(--transition);
}
.btn:hover {
	transform: scale(1.1);
}

@media only screen and (min-width: 1200px) {
	.btncontainer {
		display: none;
		position: relative;
	}
	.sidebar {
		position: relative;
		height: auto;
		top: 0;
		z-index: 0;
	}
	.kiinni {
		transform: translateX(0%);
	}
}
