.otsikko {
	text-align: center;
	margin: 2em;
}
.errcontainer {
	border: 2px solid red;
	color: red;
	font-size: 1.4rem;
	margin: 1em;
}
.successcontainer {
	border: 2px solid green;
	color: green;
	font-size: 1.4rem;
	margin: 1em;
}
.section {
	display: flex;
	justify-content: space-evenly;
}
.input {
	padding: 1px;
}
.addbtn {
	padding: 2px 5px;
}
.label {
	font-size: 1.1rem;
}
