.container {
	width: 300px;
	height: 350px;
	background-color: white;
	margin: 1em;
	padding: 1em;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	transition: var(--transition);
}
.container:hover {
	transform: scale(1.05);
}

.title {
	font-size: 2em;
}
.btn {
	width: 60%;
	font-size: 1.2em;
	padding: 4px;
	background-color: red;
	color: white;
	border: none;
}
